<div class="question-wrapper">
    <div class="title">
        <!-- <h2>{{}}</h2> -->
    </div>

    <div class="questions">
        <h3>{{questionList[currentQuestion]?.questionText}}</h3>
        <div *ngFor="let option of questionList[currentQuestion]?.options; let i = index">
            <label>
                <input type="radio" name="options" [(ngModel)]="selectedOptionIndex" [value]="i">
                {{ option.text }}
            </label>
        </div>
    </div>

    <button 
    *ngIf="isQuizCompleted==false"
     class="submit"
     (click)="answer(currentQuestion+1, questionList[currentQuestion]?.options[selectedOptionIndex])" 
    >
        Далі
    </button>
</div>

 <ng-container *ngIf='isQuizCompleted'>
        <div class="finish">
            <div class="">
                <br>
                <p>Total Question Attempted : {{questionList.length}}</p>
                <p>Total Correct Answers : {{correctAnswer}}</p>
                <p>Total Wrong Answers : {{inCorrectAnswer}}</p>
            </div>
        </div>
    </ng-container>